.bannerMain{
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
    margin-bottom: 10%;
}


.banner{
    background-size: cover;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 2%;
}

.transparent{
    background-color: #0C0000BA;
    color: white;
}

.apply{
    background-color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 50px;
    width: 100%;
    height: 40%;
    margin: 2%;
    font-size: 32px;
    font-weight: 600;
}

.info{
    width: 65%;
    text-align: center;
}

.big{
    font-size: 40px;
}

.different{
    color: #E20000  ;
}

.revisar{
    padding: 0 8%;
    text-align: center;
    width: 80%;
}

.bannerMainLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.verMas{
    width: 10%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patrocinador{
    background-color: white;
    display: flex;
    justify-content: center;
}

.patrocinador{
    padding: 5% 3%;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoTextPat{
    font-size: 24px;
    width: 80%;
    padding: 5%;
}
.infoTextPat img{
    width: 100%;
    margin: 5% auto;
}

.moreInfo{
    color: blue;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe{
    width: 500px;
    height: 300px;
    margin: 5%;
}

.infoPat{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 950px) {
    .bannerMain{
        flex-direction: column;
        align-items: center;
    }

    .bannerMainLeft, .info{
        width: 100%;
    }

    .big{
        font-size: 30px;
    }
}