.event{
    color: white;
    text-align: center;
    padding: 5%;
}

.eventHeader{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5%;
}

.eventBody{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.eventText{
    width: 30%;
}

.eventText p{
    font-size: 24px;
}

.maps{
    width: 600px;
}


@media screen and (max-width: 950px) {
    .event{
        padding-inline: 2rem;
    }
    .eventHeader{
        margin-top: 2rem;
    }
    .eventBody{
        flex-direction: column;
        padding-inline: 2rem;
        margin-bottom: 2rem;
    }
    .eventText{
        width: 100%;
        margin-bottom: 2rem;
    }
    .eventText p{
        font-size: 22px;
    }
    .maps{
        width: 90%;
    }
}