/*Importar las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*Agregegar los colores*/
    --black: #000000;
    --dark: #302E2E;
    --white: #ffffff;
    --light:#E5E4E2;
    --transparent: #0C0000BA;
    --secondary:#FB8800;
    --transition:#FE4A00;
    --red:#E20000;
    --primary:#7E0050;
    --bg: linear-gradient(to left,var(--secondary), var(--transition), var(--red), var(--primary));
    --bg-reverse:  linear-gradient(to right,var(--secondary), var(--transition), var(--red), var(--primary));
}

*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
/* Important rules */